<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs/internal-nlog.txt">

    <extensions>
        <add assembly="NLog.Extensions.Logging" />
        <add assembly="NLog.Web.AspNetCore" />
        <add assembly="NLog.Database" />
    </extensions>

    <variable name="standardLayout" value="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:inner= ${exception:format=tostring}}" />

    <targets>
        <target xsi:type="ColoredConsole" name="console" layout="${standardLayout}" />

        <target xsi:type="File" 
                name="file"
                fileName="${currentdir}/logs/manageaccount-${shortdate}.log"
                layout="${standardLayout}"
                archiveFileName="${currentdir}/logs/archives/manageaccount-{#}.log"
                archiveEvery="Day"
                archiveNumbering="DateAndSequence"
                maxArchiveFiles="14"
                keepFileOpen="false" />

        <target xsi:type="Database" 
                name="database"
            dbProvider="Oracle.ManagedDataAccess.Client.OracleConnection, Oracle.ManagedDataAccess"
                connectionString="${configsetting:name=ConnectionStrings.OracleConnection}"
                commandText="INSERT INTO APP_LOGS (LOGGED_AT, LOG_LEVEL, LOGGER, MESSAGE, EXCEPTION, PROPERTIES, MACHINE_NAME, APP_NAME) 
                                VALUES (:p_logged_at, :p_level, :p_logger, :p_message, :p_exception, :p_properties, :p_machine_name, :p_app_name)">
            <parameter name=":p_logged_at" layout="${date}" dbType="DateTime" />
            <parameter name=":p_level" layout="${level:uppercase=true}" />
            <parameter name=":p_logger" layout="${logger}" />
            <parameter name=":p_message" layout="${message}" />
            <parameter name=":p_exception" layout="${exception:format=tostring}" />
            <parameter name=":p_properties" layout="${all-event-properties:format=[key]=[value]:separator=, }" />
            <parameter name=":p_machine_name" layout="${machinename}" />
            <parameter name=":p_app_name" layout="${gdc:appName:whenEmpty=ManageAccountWebAPI}" />
        </target>
    </targets>

    <rules>
        <logger name="Microsoft.*" minlevel="Warn" writeTo="console">
            <filters defaultAction="Ignore"><when condition="'${gdc:loggingMode}' == 'console'" action="LogFinal" /></filters>
        </logger>
        <logger name="ManageAccountWebAPI.*" minlevel="Info" writeTo="console">
            <filters defaultAction="Ignore"><when condition="'${gdc:loggingMode}' == 'console'" action="LogFinal" /></filters>
        </logger>
        <logger name="*" minlevel="Warn" writeTo="console">
            <filters defaultAction="Ignore"><when condition="'${gdc:loggingMode}' == 'console'" action="LogFinal" /></filters>
        </logger>

        <logger name="Microsoft.*" minlevel="Warn" writeTo="database,file">
            <filters defaultAction="Ignore"><when condition="'${gdc:loggingMode}' == 'database'" action="LogFinal" /></filters>
        </logger>
        <logger name="ManageAccountWebAPI.*" minlevel="Info" writeTo="database,file">
            <filters defaultAction="Ignore"><when condition="'${gdc:loggingMode}' == 'database'" action="LogFinal" /></filters>
        </logger>
        <logger name="*" minlevel="Warn" writeTo="database,file">
            <filters defaultAction="Ignore"><when condition="'${gdc:loggingMode}' == 'database'" action="LogFinal" /></filters>
        </logger>

        <logger name="Microsoft.*" minlevel="Warn" writeTo="file">
            <filters defaultAction="Ignore">
                <when condition="'${gdc:loggingMode}' == 'file'" action="LogFinal" />
                <when condition="'${gdc:loggingMode}' != 'console' and '${gdc:loggingMode}' != 'database'" action="LogFinal" />
            </filters>
        </logger>
        <logger name="ManageAccountWebAPI.*" minlevel="Info" writeTo="file">
            <filters defaultAction="Ignore">
                <when condition="'${gdc:loggingMode}' == 'file'" action="LogFinal" />
                <when condition="'${gdc:loggingMode}' != 'console' and '${gdc:loggingMode}' != 'database'" action="LogFinal" />
            </filters>
        </logger>
        <logger name="*" minlevel="Warn" writeTo="file">
            <filters defaultAction="Ignore">
                <when condition="'${gdc:loggingMode}' == 'file'" action="LogFinal" />
                <when condition="'${gdc:loggingMode}' != 'console' and '${gdc:loggingMode}' != 'database'" action="LogFinal" />
            </filters>
        </logger>
    </rules>
</nlog>
